body{
    background-image: url("{% static 'img/background.png' %}");
}
.app {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding-top: 5px;
    padding-left: 15px;
}
.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.pickle {
    margin: auto;
    height: 75%;
    position: absolute;
    top: 45%; left: 0; bottom: 40%; right:  57%;
}

.head {
    height: 90%;
    margin: auto;
    position: absolute;
    top: 40%; left: 58%; bottom: 40%; right: 7%;
}


.newcontainer {
    margin: auto;
    position: absolute;
    top: 26%; left: 0; bottom: 40%; right: 7%;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.meeseeks{
    width: 50%;
}

.font{
    color:#16ACC9;
    font-size:60px;
    -webkit-text-stroke: #002A46 2px;
    font:Schwifty;
}