{% load static %}
<html lang="en"> 
<head> 
    <title>Авторизация в лучшем кликере</title> 
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    <style>
        body {
        background-image: url("{% static 'img/background.png' %}"); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: #fff;
        }
        </style>
</head> 
<body> 
    <div class="text">
        <h1 class="font"> Welcome</h1>
    </div>
    <div class="newcontainer">
    <form action="{% url 'login' %}" method='POST'> 
        {% csrf_token %} 
        {{ form.username }} 
        {{ form.password }} 
        {% if invalid %} 
            <p>Введи нормальные данные</p> 
        {% endif %} 
        <input type="submit"> 
    </form>
    <a href="{% url 'register' %}" style="color: #000000; font: size 5px;">Не зарегистрирован?</a>
    </div>
</body> 
</html>